POSTGRES_USER=prefeitura
POSTGRES_PASSWORD=prefeitura_secret
POSTGRES_DB=prefeitura_indoor
POSTGRES_HOST=indoor_db
POSTGRES_PORT=5432

DATABASE_URL=postgresql://prefeitura:prefeitura_secret@indoor_db:5432/prefeitura_indoor

API_HOST=0.0.0.0
API_PORT=8000
NGINX_PORT=80
